mixin s-production()
	// start s-production
	+b.SECTION.s-production.section#s-production&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 МЫ ПРОИЗВОДИМ 
			.row
				mixin item(i,t)
					+e.col.col-xl-3.col-lg-4.col-sm-6
						+e.item
							+e.item-head.link-modal(href="#modal-call" data-order=`Заказать расчет - ${t}` data-title=' Заказать расчет лестницы' data-text="Оставьте заявку и наш инженер сделает расчет вашей лестницы!" data-btn="ЗАКАЗАТЬ РАСЧЕТ" class="bg-wrap")
								picture.lazy.picture-bg
									img.object-fit-js(src="#" data-src=`img/@2x/s-production-${i}.jpg`, alt="")
								//- +pic(`s-production-${i}`,'bg','lazy',0)(class="picture-bg")
								+e.item-title=t
							+e.item-foot
								+e.item-price От 19 320 ₽
								+e.btn.link-modal(href="#modal-call" data-order=`Заказать расчет - ${t}` data-title=' Заказать расчет лестницы' data-text="Оставьте заявку и наш инженер сделает расчет вашей лестницы!" data-btn="ЗАКАЗАТЬ РАСЧЕТ") ПОСЧИТАТЬ

							//- +e.item-text--price=p
				+item("1","Лестницы из металла ")
				+item("2","Лестницы из дерева ")
				+item("3","Лестницы из бетона ")
				+item("4","Лестницы из камня ")
				+item("5","Каркасы лестниц ")
				+item("6","Отделка лестниц ")
				+item("7","Кованые лестницы ")
				+item("8","Лестницы из нержавейки ")
				+item("9","Стеклянные лестницы ")
				+item("10","Лестницы винтовые ")
				+item("11","Лестницы забежные ")
				+item("12","Лестницы с площадкой ")
				+item("13","Наружные лестницы ")
				+item("14","Пожарные лестницы ")
				+item("15","Перила и ограждения ")
				+item("16"," Антресольные этажи")
	// end s-production

mixin s-production-canopy()
	// start s-production-canopy
	+b.SECTION.s-production-canopy.section&attributes(attributes)
		.container
			+b.section-title--sm.text-center
				h2 ПРОИЗВОДИМ НАВЕСЫ ДЛЯ ЛЮБЫХ НУЖД
			.row.justify-content-center.justify-content-sm-start.roww
				mixin item(l, t)
					.col-auto.col-xl-2.col-lg-3.col-md-4.col-sm-6
						+e.item(href=`${l}`)!= t
				+item(`#`, `Навесы для авто и&nbsp;парковок`)
				+item(`#`, `Навесы для дачи`)
				+item(`#`, `Навесы к&nbsp;дому`)
				+item(`#`, `Навес и&nbsp;террасы <br/> под ключ`)
				+item(`#`, `Навесы <br/> для бассейна`)
				+item(`#`, `Беседки`)
				+item(`#`, `Навесы для <br/> мангала и&nbsp;барбекю`)
				+item(`#`, `Крыльцо <br/> и&nbsp;козырьки`)
				+item(`#`, `Ангары`)
				+item(`#`, `Изготовление металлоконструкций`)
				+item(`#`, `Кованые <br/> изделия`)
				+item(`#`, `Лестницы`)
				+item(`#`, `Ворота откатные, <br/> распашные`)
				+item(`#`, `Заборы, <br/> ограждения`)
				+item(`#`, `Деревянные <br/> навесы`)
				+item(`#`, `Беседки из&nbsp;дерева`)

	// end s-production-canopy